@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Serif+JP&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 360px;
  max-width: 1920px;
  width: 100vw;
  height: 100vh;
  font-family: 'Gowun Batang', 'Noto Serif JP', serif;
}

li {list-style: none;}

a {
  text-decoration: none;
  color: inherit;
}

.pageTag {
  position: absolute;
  top: 0%;
  right: 10%;
  
  a {
    display: inline-block;
    width: 4rem;
    height: 6rem;
    background: {
      repeat: no-repeat;
      size: 100%;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }
}

// Introduce 공통
.pageTitle {
  display: inline-block;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.Content {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
// Introduce 공통 end
